In [18]:
import numpy as np
import pandas as pd

In [24]:
pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ------------ --------------------------- 30.7/96.5 kB 1.3 MB/s eta 0:00:01
     ---------------------------------------- 96.5/96.5 kB 1.8 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.metrics import r2_score

boston = pd.read_excel('./boston.xls')
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CAT. MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1

In [ ]:
# boston.rename('')

In [30]:
X = boston.iloc[:,:-2]
y = boston.iloc[:,-2]
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [32]:
lr = LinearRegression()
r2_scores = []

for train_idx, test_idx in kfold.split(X):
    X_train, X_test = X.iloc[train_idx], X.iloc[test_idx]
    y_train, y_test = y[train_idx], y[test_idx]

    reg = lr.fit(X_train, y_train)

    y_pred = reg.predict(X_test)
    r2 = r2_score(y_test, y_pred)
    r2_scores.append(r2)

for i, r2 in enumerate(r2_scores):
    print(f'{i}: R2 - {r2:.3f}')

print('average R2: ', np.round(np.mean(r2_scores), 3))

# with cross_val_score
kfold = KFold(5, shuffle=False)
r2_scores = cross_val_score(lr, X, y, cv=kfold)

print('R2: ', np.round(r2_scores, 3))
print('average R2: ', np.round(np.mean(r2_scores),3))

0: R2 - 0.639
1: R2 - 0.714
2: R2 - 0.587
3: R2 - 0.079
4: R2 - -0.253
average R2:  0.353
R2:  [ 0.639  0.714  0.587  0.079 -0.253]
average R2:  0.353